.trans_container {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--card-bg);
  /* margin-top: 10px; */
  padding: 20px;
  border-radius: 8px;
  width: 80vw;
  margin-bottom: 20px;
}

.trans_container_full {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--card-bg);
  /* margin-top: 20px; */
  padding: 20px;
  border-radius: 8px;
  width: 94vw;
  margin-bottom: 20px;
}

.trans_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trans_header h4 {
  margin: 0;
}

.trans_header a {
  text-decoration: none;
  color: #007fff;
  font-size: 14px;
  font-weight: 600;
}

.inputSec input {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: none;
  outline: none;
  background-color: var(--input-bg);
}

.inputSec button {
  padding: 8px;
  background: var(--input-bg);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (max-width: 940px) {
  .trans_container {
    width: 90%;
    height: 90%;
  }
}
