.card_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_heading img {
  margin: 0;
  /* height: 52px; */
  width: 56px;
}

.logo {
  display: flex;
  align-items: center;
}

.paymentType {
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
}

.card_sub_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.sub_heading_text {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.invoice_body h1 {
  margin: 5px 0 0 0;
  font-weight: 500;
}

.invoice_body p {
  margin: 5px 0;
  color: gray;
  font-size: 14px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: gray;
  font-weight: 500;
}

.date_text {
  color: black;
}

.billing_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.billing_details_text {
  margin-right: 10%;
}

.billing_details_text h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.billing_details_text p {
  font-size: 12px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.table th {
  color: grey;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-size: 12px;
  font-weight: 600;
}

.table tr {
  border-bottom: 1px solid #ddd;
}

.table td {
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
}

.table tr:nth-child(even) {
  background-color: var(--td-even-color);
}
